@model List<AModelLayer.Models.AppUserModel>
@{
    ViewData["Title"] = "Edit role users";
    var roleId = ViewBag.roleId;
}

<div class="container">
    <h1>Edit users in role</h1>
    <hr/>
    <form method="post">
        <div class="card">
            <div class="card-header">
                <h3>Add or remove user from this role</h3>
            </div>
            <div class="card-body">
                @for (var i = 0; i < Model.Count; i++)
                {
                    <div class="form-check m-1">
                        <input asp-for="@Model[i].Id" type="hidden"/>
                        <input asp-for="@Model[i].UserName" type="hidden"/>
                        <input class="form-check-input" asp-for="@Model[i].HasRole"/>
                        <label asp-for="@Model[i].HasRole" class="form-check-label">
                            @Model[i].UserName
                        </label>
                    </div>
                }
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Add or remove user</button>
                <a asp-controller="Role" asp-action="EditRole" asp-route-id="@roleId" class="btn btn-secondary">Go back</a>
            </div>
        </div>
    </form>
</div>